* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; *behavior:url(boxsizing.htc); }
html, body { 
	margin:0;
	padding:0;background:#000;
	line-height:1;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.box { 
	background:#444; background:rgba(0,0,0,.6);
	padding:20px;
	border-radius:5px;
	margin-bottom:20px;
}
h1 {
  color: #cccccc;
}