@import url(http://fonts.googleapis.com/css?family=Dosis:400|Open+Sans+Condensed:300,700&subset=latin,cyrillic);
@font-face{font-family:'neogrey_regularregular';src:url('neogreyregular-webfont.eot');src:url('neogreyregular-webfont.eot?#iefix') format('embedded-opentype'),url('neogreyregular-webfont.woff') format('woff'),url('neogreyregular-webfont.ttf') format('truetype'),url('neogreyregular-webfont.svg#neogrey_regularregular') format('svg');font-weight:normal;font-style:normal}html,body{font-family:Arial,Helvetica,sans-serif;font-weight:400}
.logo{font-family:"Dosis",Arial,Helvetica,sans-serif;font-weight:400}
h1{font-family:"neogrey_regularregular",Arial,Helvetica,sans-serif;font-size:3em;color:#c30;color:rgba(204,51,0,0.9);text-shadow:-2px 2px 2px rgba(30,30,30,0.3),4px 4px 5px #fff;letter-spacing:0.01em}h1 i{text-shadow:4px 4px 4px #fff}
#top-nav a,#top-nav li.navbar-text{font-family:"Open Sans Condensed",Arial,Helvetica,sans-serif;font-size:1.3em}
#top-nav a{font-weight:300;padding-left:10px;padding-right:10px}
#top-nav li.navbar-text{font-weight:700}
#top-nav a.navbar-brand{font-size:2.4em;font-family:"Dosis",Arial,Helvetica,sans-serif;font-weight:400}
#side-nav a{font-family:"Open Sans Condensed",Arial,Helvetica,sans-serif;font-weight:300;font-size:1.2em}
h2,h3,h4{font-family:"Open Sans Condensed",Arial,Helvetica,sans-serif;font-weight:300}h2 i,h3 i,h4 i,h2 i:before,h3 i:before,h4 i:before{font-family:FontAwesome}
h2,h3,h4{font-family:"Open Sans Condensed",Arial,Helvetica,sans-serif;font-weight:300}h2 i,h3 i,h4 i,h2 i:before,h3 i:before,h4 i:before{font-family:FontAwesome}
html,body{margin:0;padding:0;color:#000;font-size:1em}
body{background-color:#222;background-image:url(/images/fuzz.gif)}
a{-webkit-transition:color 0.3s;-moz-transition:color 0.3s;-o-transition:color 0.3s;-ms-transition:color 0.3s;transition:color 0.3s}a:focus{outline:none}
.static-page{z-index:600}
.static-img{z-index:500}
.anim-page{z-index:800}
.anim-img{z-index:700}
.nav-pane{border-top-left-radius:10px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:10px;border:0;z-index:10000}
#top-nav{border-top-left-radius:10px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:10px;border:0;z-index:10000;margin-top:16px;padding-top:2px;padding-bottom:2px;background-color:#000;background-color:rgba(0,0,0,0.7);margin-bottom:1px}#top-nav .navbar-toggle{background-color:transparent}
#top-nav .navbar-toggle:hover,#top-nav .navbar-toggle:focus{background-color:#fff;background-color:rgba(255,255,255,0.2)}
#top-nav a{color:#fff}#top-nav a:hover{color:#FFC455}
#top-nav a.navbar-brand{color:#FFC455}#top-nav a.navbar-brand:hover{color:#fff}
#top-nav li a.active{color:#f55;background-color:#000;background-color:rgba(0,0,0,0.3)}
#top-nav #off,#top-nav #on{min-width:100px;color:#FFC455}#top-nav #off:hover,#top-nav #on:hover{color:#f55}
#top-nav #off.inactive,#top-nav #on.inactive{color:#333}
#top-nav button{color:#fff}
#top-nav li.navbar-text{margin-top:10px;margin-bottom:10px;color:#ff9571;color:rgba(255,149,113,0.8);padding-right:10px}
#top-nav .in li.navbar-text,#top-nav .collapsing li.navbar-text{padding-left:15px}
#side-nav{border-top-left-radius:10px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:10px;border:0;z-index:10000;background-color:#c30;background-color:rgba(204,51,0,0.6);min-height:0px}#side-nav li{float:none}#side-nav li a{color:#fff}#side-nav li a:hover{color:#C4C4FF}
#side-nav li a.active{color:#FFFDA4;background-color:transparent}
#side-nav .navbar-collapse{border:0}
#side-nav .fa-li{top:0.8em;left:-1.5em}#side-nav .fa-li.fa-lg{top:0.6em;left:-1.4em}
#side-nav .in li,#side-nav .collapsing li{padding-left:20px}
#side-padding{height:50px}#side-padding.collapse{display:block}
#side-padding.collapsing,#side-padding.in{display:none}
.page{position:absolute;width:100%;height:100%;visibility:hidden;background-color:#fff;background-color:rgba(255,255,255,0.9);border-top-left-radius:50px}
#page-wrapper{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;margin-right:2px;margin-bottom:2px}#page-wrapper>img{position:absolute;visibility:hidden}
.page-content{padding:15px 40px 105px 15px;}.page-content i{color:#c30;color:rgba(204,51,0,0.72);text-shadow:4px 4px 4px #fff}
#off-bg{position:absolute;top:0;left:0;width:100%;height:100%;background-color:#222;display:table;text-align:center}#off-bg i{font-size:2000%;display:table-cell;vertical-align:middle;opacity:0.2}
.aa-fix{-webkit-text-stroke:1px !important}
.no-shadow{text-shadow:none !important}
.sqrIco{background-color:rgba(100,100,100,0.2) !important;display:inline-block !important;width:15px;height:15px;margin:5px}
