html,body{margin:0;padding:0;color:#222;font-weight:300;font-size:1em;background-color:#222;background-image:url(/images/fuzz.gif)}
a{-webkit-transition:color 0.3s;-moz-transition:color 0.3s;-o-transition:color 0.3s;-ms-transition:color 0.3s;transition:color 0.3s}a:focus{outline:none}
.static-page{z-index:600}
.static-img{z-index:500}
.anim-page{z-index:800}
.anim-img{z-index:700}
.nav-pane{border-top-left-radius:10px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:10px;border:0;z-index:10000}
#top-nav{border-top-left-radius:10px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:10px;border:0;z-index:10000;margin-top:16px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";background-color:#000;background-color:rgba(0,0,0,0.8);margin-bottom:1px}#top-nav .phone{color:#f55;font-size:115%;padding-right:30px;padding-left:15px}
#top-nav .navbar-toggle{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";background-color:transparent}
#top-nav .navbar-toggle:hover,#top-nav .navbar-toggle:focus{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";background-color:#fff;background-color:rgba(255,255,255,0.2)}
#top-nav a{color:#fff}#top-nav a:hover{color:#FFC455}
#top-nav a.navbar-brand{color:#FFC455;font-size:270%}#top-nav a.navbar-brand:hover{color:#fff}
#top-nav #off,#top-nav #on{color:#FFC455}#top-nav #off:hover,#top-nav #on:hover{color:#f55}
#top-nav #off.inactive,#top-nav #on.inactive{color:#333}
#top-nav button{color:#fff}
#side-nav{border-top-left-radius:10px;border-top-right-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:10px;border:0;z-index:10000;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";background-color:#0000c4;background-color:rgba(0,0,196,0.8);min-height:0px}#side-nav li{float:none}
#side-nav a{color:#fff}#side-nav a:hover{color:#C4C4FF}
#side-nav .navbar-collapse{border:0}
#side-padding{height:50px}#side-padding.collapse{display:block}
#side-padding.collapsing,#side-padding.in{display:none}
.page{position:absolute;width:100%;height:100%;visibility:hidden;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";background-color:#fff;background-color:rgba(255,255,255,0.9);border-top-left-radius:50px}
#page-wrapper{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;margin-right:2px;margin-bottom:2px}#page-wrapper>img{position:absolute;visibility:hidden}
.page-content{padding:15px 40px 105px 15px}
